
<div class="py-5 border-top footer">
  <div class="container">

    <div class="row">

      <div class="col-sm my-4 text-left">
        <p>
          <span>LOGO</span>
        </p>
      </div>
      <div class="col-sm my-4 text-right">
        <p class="align-middle" style="margin-bottom: 0px;">
          <span style="font-weight: bold;">Tel. </span>
          <span>{{ site.phone }}</span>
          <span style="font-weight: bold;">Email. </span>
          <span>{{ site.email }}</span><br/>
          <span>{{ site.copyright }}</span>
          <span style="font-weight: bold; text-transform: uppercase;">{{ site.name }}</span>
        </p>
      </div>

    </div>

  </div>
</div>
