// This is the place to place Bootstrap's variables overrides.
// As example you can start by importing the _variables.scss file from one of the
// theme provided by https://bootswatch.com .


// Some customization of the container class to have a better display in the guide.
// Don't hesitate to remove it to have a standard Bootstrap behavior
$container-max-widths: (
  xs: 575.98px,
  sm: 767.98px,
  md: 991.98px,
  lg: 1199.98px,
  xl: 1200px
) !default;

.post-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-content {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #737373;
}
.post-info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #737373;
}

.post-thumbnail {
  width: 202px;
  height: 158px;
  object-fit: contain;
}