// Global
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
}

.badge-tag {
  font-size: 0.7em;
  font-weight: 300;
  padding: 7px;
  background-color: #a7aaad;
}

// Footer

.footer {
  color: #ffffff;
  height: 200px;
  font-size: 1em;
  font-weight: 300;
  background-color: #132038;
}