// Global
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
}

.badge-tag {
  font-size: 0.7em;
  font-weight: 300;
  padding: 7px;
  background-color: #a7aaad;
}

// Header

.nerdfactory-main-nav {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nerdfactory-main-nav-brand {
  font-weight: bold;
  font-size: 1.4em;
}
.nerdfactory-main-nav-item {
  font-size: 1.2em;
}

// Footer

.footer {
  color: #ffffff;
  height: 200px;
  font-size: 1em;
  font-weight: 300;
  background-color: #132038;
}