// Nav
.nerdfactory-main-nav {
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nerdfactory-main-nav-brand {
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 5px;
}
.nerdfactory-main-nav-item {
  font-size: 1em;
}

.main-logo-top {
  width: 160px;
}
.main-logo-bottom {
  width: 200px;
}
.main-logo-img-div {
  font-weight: 500;
}
.main-logo-title-div {
}
.main-logo-img {
  position: relative;
  float: left;
}
.main-logo-text {
  position: relative;
  float: left;
  margin-top: 26px;
}

.nav-pc { 
  display: flex;
}
.nav-mobile { 
  display: none;
  text-align: right;
  margin-top: 70px;
}
.nav-mobile > li > a { 
  padding-top: 0px;
}

.spinner-master input[type=checkbox] { display: none; }
.spinner-master * {
  transition: all 0.3s;
  box-sizing: border-box;
}

.spinner-master {
  position: absolute;
  right: 0px;
  top: 20px;
  margin: 15px;
  height: 30px;
  width: 26px;
  float: right;
  display: none;
}

.spinner-master label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}

.spinner-master .spinner {
  position: absolute;
  height: 3px;
  width: 100%;
  padding: 0;
  background-color: #132038b8;;
}

.spinner-master .diagonal.part-1 {
  position: relative;
  float: right;
}

.spinner-master .horizontal {
  position: relative;
  float: right;
  margin-top: 4px;
}

.spinner-master .diagonal.part-2 {
  position: relative;
  float: right;
  margin-top: 4px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal { opacity: 0; }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 10px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: -10px;
}

// Main Banner
.main-background {
  background-image: url("/assets/images/main/main-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 0;
  padding-right: 0;
}
.main-background-mask {
  position: absolute;
  width: 100%;
  height: 585px;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(66, 89, 117, 0.6), rgba(66, 89, 117, 0.9));
}
.main-background-container {
  height: 585px;
  padding-top: 250px;
  color: #ffffff;
}
.main-background-separator {
  border-bottom: 1px solid #ffffff; 
  width: 60px; 
  margin-top: 20px; 
  margin-bottom: 20px;
}
.main-title {
   font-size: 5em;
}
.main-subtitle {
   font-size: 1.6em;
   font-weight: 300;
}

@media (max-width: 575.98px) {
  .main-background {
    height: 380px;
    background-size: auto 100%;
  }
  .main-background-mask {
    height: 380px;
  }
  .main-background-container {
    padding-top: 135px;
  }
  .main-background-separator {
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  .main-title {
    font-size: 2em;
  }
  .main-subtitle {
    font-size: 1.4em;
  }
  .nerdfactory-main-nav-brand {
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 5px;
  }
  .nerdfactory-main-nav-item {
    font-size: 0.8em;
  }
  .main-logo-top {
    width: 120px;
  }
  .main-logo-title-div {
    font-weight: 500;
    margin-top: 5px;
  }
  .spinner-master {
    display: block;
  }
  .nav-pc { 
    display: none;
  }
  .nav-mobile { 
    display: none;
  }
  .main-logo-text {
    margin-top: 17px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {  
  .main-background {
    height: 380px;
    background-size: auto 100%;
  }
  .main-background-mask {
    height: 380px;
  }
  .main-background-container {
    padding-top: 135px;
  }
  .main-background-separator {
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  .main-title {
    font-size: 2em;
  }
  .main-subtitle {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {   
  .main-background {
    height: 400px;
    background-size: auto 100%;
  }
  .main-background-mask {
    height: 400px;
  }
  .main-background-container {
    padding-top: 180px;
  }
  .main-title {
    font-size: 3em;
  }
  .main-subtitle {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {   
  .main-background {
    height: 585px;
    background-size: auto 100%;
  }
  .main-background-mask {
    height: 585px;
  }
  .main-background-container {
    padding-top: 250px;
  }
  .main-title {
    font-size: 5em;
  }
  .main-subtitle {
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) {   
  .main-background {
    height: 585px;
    background-size: 100%;
  }
  .main-background-mask {
    height: 585px;
  }
  .main-background-container {
    padding-top: 250px;
  }
  .main-title {
    font-size: 5em;
  }
  .main-subtitle {
    font-size: 1.9em;
  }
}

// Footer

.nerdfactory-footer {
  display: none;
}
.nerdfactory-footer-mobile {
  display: none;
}


@media (max-width: 575.98px) {
  .nerdfactory-footer {
    display: none;
  }
  .nerdfactory-footer-mobile {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {  
  .nerdfactory-footer {
    display: none;
  }
  .nerdfactory-footer-mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {  
  .nerdfactory-footer {
    display: block;
  }
  .nerdfactory-footer-mobile {
    display: none;
  } 
}
@media (min-width: 992px) and (max-width: 1199.98px) {  
  .nerdfactory-footer {
    display: block;
  }
  .nerdfactory-footer-mobile {
    display: none;
  }
}
@media (min-width: 1200px) { 
  .nerdfactory-footer {
    display: block;
  }
  .nerdfactory-footer-mobile {
    display: none;
  }
}