.post-header {
  min-height: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 100px;
  border-bottom: 1px solid #e8e8e8;
}
.post-header-line {
  width: 37px;
  height: 3px;
  background-color: #495f7a;
}

.post-header-title {
  margin-top: 20px;
}

.post-header-desc {

}