<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "kr" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="pb-3">
      <div class="container-fluid main-background">
        <div class="main-background-mask"></div>
        <div class="container px-5 main-background-container">
          <!-- <div class="row">
            <div class="col-lg my-auto text-left">
              <h1 class="main-title" style="margin-bottom: 0px;">NERD FACTORY Blog</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="main-background-separator"></div>
            </div>
          </div> -->
          <div class="row main-subtitle-row">
            <div class="col-lg px-0 my-auto text-left">
              <p>
                <span class="main-subtitle">
                  너드팩토리는<br>
                  우리의 이야기를 통해<br>
                  개발 생태계가 더 나아지길 바라며<br>
                  우리가 연구한 다양한 기술 이야기를 공유하고 있습니다.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
